.loginform.container{
  border: 1px solid #707070;
  border-radius: 0.5em;
  background-color: #ffffff;
  opacity: 0.89;
  padding: 1em;
  width: 24vw;
  height: 75%;
  margin-top: 10% ;
  color: #53586B;
  text-align: center;
}

.signupform.container{
  border: 1px solid #707070;
  border-radius: 0.5em;
  background-color: #ffffff;
  opacity: 0.89;
  padding: 1em;
  width: 24vw;
  margin-left: 30.5em;
  margin-top: 7%;
  height: 50%;
  display: inline-block;
  padding: 1em;
  color: #53586B;
  text-align: center;
}

.loginbutton{
  margin-top: 20%;
  cursor: pointer;
}

.signupbutton{
  margin-top: 20%;
  cursor: pointer;
}

input {
  text-align: center;
}